@model VirtualLibrary.Models.ForgotPasswordModel

@{
    ViewData["Title"] = "Forgot Password";
}

<br />
@if (Model?.EmailSent == true)
{
    <br />
    <div class="alert forgotPasswordAlert" role="alert">
        <p>
            If you are registered with us, <br />
            you will receive an email with a link to reset your password.
        </p>
        <p>Back to  <a class="text-black showMore" asp-action="Login" asp-controller="Account">Login</a></p>
    </div>
}
else
{
    <div class="form-container">
        <form method="post" asp-action="ForgotPassword" data-parsley-validate="" id="ForgotPasswordForm" class="card p-3 ">
            <h1 class="display-5 text-center">Forgot your password?</h1>
            <p>
                No worries you can reset it easily! <br />
                Please enter your email address.
            </p>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-3 mt-3">
                <input type="email" asp-for="Email" class="form-control" id="Email" placeholder="Enter email" data-parsley-trigger="blur" data-parsley-required />
                <label asp-for="Email">Email</label>
            </div>
            <p id="FailedLoginMsg">@ViewBag.Message</p>
            <br />
            <button type="submit" class="btn submitBtn col-12">Continue</button>

            <div class="mb-3 mt-3 text-center">
                <p>Back to  <a  asp-action="Login" asp-controller="Account" class="text-black showMore">Login</a></p>
            </div>
        </form>
    </div>
}