@using Core.Persistence.Context
@using Microsoft.AspNetCore.Identity

@model VirtualLibrary.Models.LoginModel
@Html.ValidationMessage("Invalid")
@{
    ViewData["Title"] = "Login";
}

<body id="loginPage">
    <br />
    <div class="form-container col-12 col-xl-8 offset-xl-2">
        <form method="post" id="loginForm" data-parsley-validate="" class="card p-3">
            <h1 class="display-5 text-center">Login</h1>
            <br /><hr />
            @if (ViewBag.Message == "Login Failed - Incorrect Username or Password")
            {
                <p id="FailedLoginMsg">@ViewBag.Message</p>
            }
            else if (ViewBag.Message == "Email successfully verified! You may now log in.")
            {
                <p id="SuccessLoginMsg">@ViewBag.Message</p>
            }
            <div class="form-floating mb-3 mt-3">
                <input asp-for="Username" type="text" class="form-control border border-0 rounded-3 form-floating" id="Username" placeholder="Username" name="username" data-parsley-trigger="blur" data-parsley-required>
                <label asp-for="Username" for="text" class="form-label">Username</label>
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3 mt-3">
                <input asp-for="Password" type="password" class="form-control border border-0 rounded-3 form-floating" id="password" placeholder="Password" name="password" data-parsley-trigger="blur" data-parsley-required>
                <label asp-for="Password" for="password">Password</label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="text-center">
                <button type="submit" class="btn col-12 submitBtn">Login</button>
            </div>
            <div class="mb-3 mt-3 text-center">
                <a class="text-dark-purple fw-bold" asp-area="" asp-controller="Account" asp-action="ForgotPassword">Forgot Password</a>
            </div>
            <div class="mb-3 mt-3 text-center">
                <a class="text-dark-purple fw-bold" asp-area="" asp-controller="Account" asp-action="Register">Click Here To Register</a>
            </div>


        </form>
    </div>
</body>

