@model VirtualLibrary.Models.ResetPasswordModel

@{
    ViewData["Title"] = "Reset Password";
}

<br />
@if (Model?.IsSuccess == true)
{
    <div class="alert forgotPasswordAlert" role="alert">
                    <p>You have updated your password successfully!</p>
                    <p>Back to  <a asp-action="Index" asp-controller="Home" class="text-black">Home Page</a></p>
    </div>
}
else
{
    <div class="form-container">
        <form asp-action="ResetPassword" data-parsley-validate="" id="ForgotPasswordForm" class ="card p-3 ">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h1 class="display-5 text-center">Reset password</h1>
            <p>Please enter your new password.</p>

            <input type="hidden" asp-for="UserId" class="form-control" />
            <input type="hidden" asp-for="Token" class="form-control" />

            <div class="form-floating mb-3 mt-3">
                <input type="password" asp-for="NewPassword" class="form-control" id="NewPassword" placeholder="Enter new password" minlength="8" data-parsley-equalto="#ConfirmNewPassword" data-parsley-trigger="blur" data-parsley-required/>
                <label asp-for="NewPassword">New Password</label>
            </div>
            <div class="form-floating mb-3 mt-3">
                <input type="password" asp-for="ConfirmNewPassword" class="form-control" id="ConfirmNewPassword" placeholder="Confirm new password" minlength="8" data-parsley-equalto="#NewPassword"  data-parsley-trigger="blur" data-parsley-required/>
                <label asp-for="ConfirmNewPassword">Confirm New Password</label>
            </div>
            <br />
            <button type="submit" class="btn submitBtn col-12 ">Complete</button>
        </form>
    </div>
}