@{
    ViewData["Title"] = "Payment";
}
<br>
<div class="alert forgotPasswordAlert" role="alert">
        <p>
            Payment successful! <br />
            You will recieve a payment confirmation email shortly.
        </p>
    <p>Back to  <a class="text-black showMore" asp-action="Index" asp-controller="Home">Home</a></p>
    </div>